
.textsHomepage{
    margin: 0  auto;

}

.subtitlesHomepage{
    font-size: 24px;    
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

}

.img-homepage{
   max-width: 618px;
}
.itensHomepage{
    display: flex;
    max-width: 1520px;
    padding: 20px;
    align-items: center;
    margin-top: 5%;
}